@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@100&family=Smooch+Sans:wght@100&display=swap");
* {
  box-sizing: border-box;
}

#sunnyside-agency-landing {
  font-family: "Smooch Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

/************************ Header **************************/
#sunnyside-agency-landing header {
  position: relative;
  background-image: url("../_images/mobile/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 900px;
}
#sunnyside-agency-landing header nav {
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#sunnyside-agency-landing header nav #toggle {
  display: none;
}
#sunnyside-agency-landing header nav .hamburguer {
  background: url("../_images/icon-hamburger.svg");
  width: 24px;
  height: 18px;
  background-repeat: no-repeat;
}
#sunnyside-agency-landing header nav .menu {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#sunnyside-agency-landing header nav .menu ::after {
  position: absolute;
  top: -35px;
  right: 0;
  transform: translateX(-0.5px);
  width: 0;
  height: 0;
  content: "";
  border-left: 40px solid transparent;
  border-bottom: 40px solid #fff;
}
#sunnyside-agency-landing header nav .menu li {
  font-size: 1.4em;
  font-weight: bold;
  margin: 0.5rem 2rem;
  color: #a7abae;
}
#sunnyside-agency-landing header nav .menu .active {
  text-align: center;
  font-size: 1.5em;
  color: black;
  background-color: #fad400;
  width: 150px;
  height: 50px;
  border-radius: 25px;
}
#sunnyside-agency-landing header nav .menu a {
  text-decoration: none;
}
#sunnyside-agency-landing header nav #toggle:checked ~ .menu {
  background-color: white;
  opacity: 1;
  width: 85%;
  height: 60%;
  z-index: 1;
}
#sunnyside-agency-landing header nav #toggle:checked ~ .hamburguer {
  background: url("../_images/icon-x.svg");
  background-repeat: no-repeat;
  background-position: center;
}
#sunnyside-agency-landing header .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}
#sunnyside-agency-landing header .title h1 {
  font-family: "Smooch";
  font-size: 2.5em;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}
#sunnyside-agency-landing header .arrow {
  position: absolute;
  left: calc(50% - 18px);
  top: calc(60% - 57px);
}
@media (min-width: 768px) {
  #sunnyside-agency-landing header {
    background-image: url("../_images/desktop/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100vh;
  }
  #sunnyside-agency-landing header nav {
    padding: 20px 50px 0 50px;
  }
  #sunnyside-agency-landing header nav .hamburguer {
    display: none;
  }
  #sunnyside-agency-landing header nav .menu {
    position: initial;
    background: none;
    display: flex;
    flex-direction: row;
    opacity: 1;
    transform: translateX(0);
  }
  #sunnyside-agency-landing header nav .menu ::after {
    display: none;
  }
  #sunnyside-agency-landing header nav .menu li {
    color: white;
  }
  #sunnyside-agency-landing header nav .menu .active {
    background-color: white;
    margin-right: 0;
  }
  #sunnyside-agency-landing header .title {
    height: 50%;
  }
  #sunnyside-agency-landing header .title h1 {
    font-size: 4em;
  }
  #sunnyside-agency-landing header .arrow {
    position: absolute;
    left: calc(50% - 18px);
    top: calc(50% - 57px);
  }
}

/************************ END Header **************************/

/*# sourceMappingURL=app.css.map */
