@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Fraunces:opsz,wght@9..144,100&family=Smooch+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Bellefair&family=Fraunces:opsz,wght@9..144,100&family=Smooch+Sans:wght@100&display=swap");
nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  color: #FFFFFF;
}
nav #hamburguer_toggle {
  display: none;
}
nav .hamburguer {
  position: fixed;
  top: 33px;
  right: 25px;
  background: url("/assets/shared/icon-hamburger.svg") no-repeat;
  width: 24px;
  height: 21px;
  transition: 0.3s ease-in-out;
  z-index: 2;
}
nav ul {
  display: none;
  position: fixed;
  right: 0;
  font-family: "Barlow Condensed";
  font-size: 1.25rem;
  line-height: 19px;
  letter-spacing: 2.7px;
  padding: 5rem 6rem 0 2rem;
  background-color: #1A1D27;
  opacity: 0;
  height: 100%;
  transition: 0.5s ease-in-out;
  z-index: 1;
}
nav ul a {
  text-decoration: none;
  color: #FFFFFF;
}
nav ul li {
  position: relative;
  display: flex;
  align-items: center;
  margin: 2rem 0;
}
nav #hamburguer_toggle:checked ~ ul {
  display: block;
  opacity: 1;
}
nav #hamburguer_toggle:checked ~ .hamburguer {
  background: url("/assets/shared/icon-close.svg") no-repeat;
  transition: 0.3s ease-in-out;
}
@media (min-width: 767px) {
  nav {
    /* */
  }
  nav .hamburguer {
    display: none;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.1rem;
    opacity: 1;
    padding: 0 1.5rem;
    height: 100px;
  }
  nav ul li {
    margin: 0 1rem;
    height: 100%;
  }
  nav ul li .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 3px solid transparent;
  }
  nav ul li.active .underline {
    width: 100%;
    border-bottom: 3px solid #FFFFFF;
  }
  nav ul li:hover .underline {
    width: 100%;
    border-bottom: 3px solid #FFFFFF;
  }
  nav ul li span {
    display: none;
  }
  nav #hamburguer_toggle:checked ~ ul {
    display: flex;
    opacity: 1;
  }
}
@media (min-width: 1200px) {
  nav ul {
    width: 55%;
    margin: 2rem 0;
    padding: 0 6rem;
  }
  nav ul li {
    margin: 0 1.5rem;
  }
  nav ul li span {
    display: inline;
    opacity: 1;
  }
}

#home {
  background-image: url("/assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 750px;
}
#home main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  height: 100%;
}
#home main .container {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  text-transform: uppercase;
  text-align: center;
  height: 80%;
}
#home main .container p {
  font-family: "Barlow Condensed";
  font-size: 1.5rem;
  color: #D0D6F9;
  margin: 0;
}
#home main .container strong {
  font-family: "Bellefair", serif;
  font-size: 5rem;
  font-weight: 400;
}
#home main .container p:last-child {
  width: 100%;
  text-transform: none;
  font-family: "Barlow";
  font-size: 0.938rem;
}
#home main .container .btn-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}
#home main .container .btn-container button {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-family: "Bellefair", serif;
  border-radius: 50%;
  border: none;
  width: 150px;
  height: 150px;
  cursor: pointer;
  transition: ease-in-out 0.6s;
}
#home main .container .btn-container button:hover {
  box-shadow: 0 0 0 70px rgba(255, 255, 255, 0.1);
}

@media (min-width: 768px) {
  #home {
    background-image: url("/assets/home/background-home-tablet.jpg");
  }
  #home main .container {
    max-width: 450px;
  }
  #home main .container p {
    font-size: 1.75rem;
  }
  #home main .container strong {
    font-size: 9.375rem;
  }
  #home main .container p:last-child {
    font-size: 1rem;
  }
  #home main .container .btn-container button {
    font-size: 2rem;
    width: 242px;
    height: 242px;
  }
}
@media (min-width: 1200px) {
  #home {
    background-image: url("/assets/home/background-home-desktop.jpg");
  }
  #home main .container {
    max-width: 1200px;
    flex-wrap: nowrap;
    text-align: start;
  }
  #home main .container p:last-child {
    width: 80%;
    font-size: 1.125rem;
  }
  #home main .container .btn-container {
    justify-content: flex-end;
  }
  #home main .container .btn-container button {
    font-size: 2rem;
    width: 274px;
    height: 274px;
  }
}
#destination {
  background-image: url("/assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 750px;
}
#destination main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  height: 100%;
}
#destination main #moon:checked ~ .container .moon-destin,
#destination main #mars:checked ~ .container .mars-destin,
#destination main #europa:checked ~ .container .europa-destin,
#destination main #titan:checked ~ .container .titan-destin {
  display: block;
}
#destination main input[type=radio] {
  display: none;
}
#destination main .container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
#destination main .container ul {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#destination main .container ul label {
  margin: 0 0.5rem;
}
#destination main .container .moon-destin,
#destination main .container .mars-destin,
#destination main .container .europa-destin,
#destination main .container .titan-destin {
  display: none;
}
#destination main .container picture img {
  width: 50%;
}

@media (min-width: 767px) {
  #destination {
    background-image: url("/assets/destination/background-destination-tablet.jpg");
  }
  #destination main .container {
    max-width: 450px;
  }
}
@media (min-width: 1200px) {
  #destination {
    background-image: url("/assets/destination/background-destination-desktop.jpg");
  }
  #destination main .container {
    max-width: 1200px;
    flex-direction: row;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.col {
  width: 100%;
}

/*# sourceMappingURL=app.css.map */
