@use "variables";
@use "functions";

#home {
    background-image: url(variables.$home_background_image_mobile);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: variables.$primary_color;
        height: 100%;

        .container {
            max-width: 1200px;
            display: flex;
            flex-direction: column;
        }
    }
}

@media(min-width:768px) {
    #home {
        background-image: url(variables.$home_background_image_tablet);
    }
}

@media(min-width:1200px) {
    #home {
        background-image: url(variables.$home_background_image_desktop);

        main {
            .container {
                display: flex;
                flex-direction: row;
            }
        }

    }
}