$home_background_image_mobile : "/starter-code/assets/home/background-home-mobile.jpg" !default;
$home_background_image_tablet : "/starter-code/assets/home/background-home-tablet.jpg" !default;
$home_background_image_desktop : "/starter-code/assets/home/background-home-desktop.jpg" !default;

#home{
    background-image: url($home_background_image_mobile);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

@media(min-width:768px){
    #home{
        background-image: url($home_background_image_tablet);
    }
}

@media(min-width:1200px){
    #home{
        background-image: url($home_background_image_desktop);
    }
}