@use "variables";
@use "functions";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Fraunces:opsz,wght@9..144,100&family=Smooch+Sans:wght@100&display=swap');

nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    color: variables.$text_color;

    #hamburguer_toggle {
        display: none;
    }

    .logo {
        position: absolute;
        top: 18px;
        left: 39px;
    }

    .hamburguer {
        position: fixed;
        top: 33px;
        right: 25px;
        background: url(variables.$icon_hamburguer) no-repeat;
        width: 24px;
        height: 21px;
        transition: .3s ease-in-out;
        z-index: 2;
    }

    ul {
        position: fixed;
        right: 0;
        font-family: 'Barlow Condensed';
        font-size: variables.$font_size;
        line-height: 19px;
        letter-spacing: 2.7px;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: functions.multiplication(5) functions.multiplication(6) 0 functions.multiplication(2);
        margin: 0;
        background-color: variables.$primary_color;
        opacity: 0;
        height: 100%;
        transition: .5s ease-in-out;
        z-index: 1;

        a {
            text-decoration: none;
            color: variables.$text_color;
        }

        li {
            position: relative;
            display: flex;
            align-items: center;
            margin: variables.$default_value 0;
        }
    }

    #hamburguer_toggle:checked~ul {
        opacity: 1;
    }

    #hamburguer_toggle:checked~.hamburguer {
        background: url(variables.$icon_close) no-repeat;
        transition: .3s ease-in-out;
    }

    @media(min-width:767px) {

        .hamburguer {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: calc(variables.$font_size * 0.875);
            margin: 0;
            opacity: 1;
            padding: 0;
            height: 100px;

            li {
                margin: 0 functions.multiplication(1);
                height: 100%;
                .underline {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    border-bottom: 3px solid transparent;
                }

                &.active .underline{
                    width: 100%;
                    border-bottom: 3px solid variables.$text_color;
                }

                &:hover .underline {
                    width: 100%;
                    border-bottom: 3px solid variables.$text_color;
                }

                span {
                    opacity: 0;
                }
            }
        }
    }

    @media(min-width:1200px) {
        .logo {
            top: 54px;
            left: 55px;
        }

        ul {
            width: 55%;
            margin: functions.multiplication(2) 0;
            padding: 0 functions.multiplication(6);

            li {
                margin: 0 functions.multiplication(1.5);

                span {
                    opacity: 1;
                }
            }
        }

    }
}