@use "variables";
@use "functions";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Fraunces:opsz,wght@9..144,100&family=Smooch+Sans:wght@100&display=swap');

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    color: variables.$primary_color;

    #hamburguer_toggle {
        display: none;
    }

    .hamburguer {
        position: fixed;
        top: 25px;
        right: 25px;
        background: url(variables.$icon_hamburguer) no-repeat;
        width: 24px;
        height: 21px;
        transition: .3s ease-in-out;
        z-index: 2;
    }

    ul {
        position: fixed;
        right: 0;
        font-family: 'Barlow Condensed';
        font-size: variables.$font_size;
        line-height: 19px;
        letter-spacing: 2.7px;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: functions.multiplication(5) functions.multiplication(6) 0 functions.multiplication(2);
        margin: 0;
        background-color: #1A1D27;
        opacity: 0;
        height: 100%;
        transition: .5s ease-in-out;
        z-index: 1;
        a{
            text-decoration: none;
            border-bottom: transparent solid 3px;
            color: variables.$primary_color;
            &:hover{
                border-bottom: variables.$primary_color solid 3px;
            }
        }

        li {
            margin: variables.$default_value 0;
        }
    }

    #hamburguer_toggle:checked~ul {
        opacity: 1;
    }

    #hamburguer_toggle:checked~.hamburguer {
        background: url(variables.$icon_close) no-repeat;
        transition: .3s ease-in-out;
    }

    @media(min-width:767px) {

        .hamburguer {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: row;
            margin: 0;
            opacity: 1;
            height: auto;
            padding: functions.multiplication(3);

            li {
                margin: 0;
            }
        }
    }

    @media(min-width:1200px) {
        ul {
            margin: functions.multiplication(2) 0;
            padding: functions.multiplication(2.5) functions.multiplication(8) functions.multiplication(2.5) functions.multiplication(5);
        }

    }

    /* For huge devices */
    @media(min-width:2000px) {

        ul {
            margin: functions.multiplication(3) 0;
            padding: functions.multiplication(4) functions.multiplication(12) functions.multiplication(4) functions.multiplication(6);
            font-size: calc(variables.$font_size * 1.5);

            li {
                margin: 0 functions.multiplication(2);
            }
        }
    }
}