$icon_hamburguer: "/starter-code/assets/shared/icon-hamburger.svg" !default;
$icon_close: "/starter-code/assets/shared/icon-close.svg" !default;
$default_value: 1rem !default;
$home_background_image_mobile : "/starter-code/assets/home/background-home-mobile.jpg" !default;
$home_background_image_tablet : "/starter-code/assets/home/background-home-tablet.jpg" !default;
$home_background_image_desktop : "/starter-code/assets/home/background-home-desktop.jpg" !default;
$destination_background_image_mobile: "/starter-code/assets/destination/background-destination-mobile.jpg" !default;
$destination_background_image_tablet: "/starter-code/assets/destination/background-destination-tablet.jpg" !default;
$destination_background_image_desktop: "/starter-code/assets/destination/background-destination-desktop.jpg" !default;
$primary_color: #1A1D27 !default;
$secondary_color: #D0D6F9 !default;
$text_color: #FFFFFF !default;
