$icon_hamburguer: "/starter-code/assets/shared/icon-hamburger.svg" !default;
$icon_close: "/starter-code/assets/shared/icon-close.svg" !default;
$font_size: 20px !default;
$default_value: 1rem !default;
$home_background_image_mobile : "/starter-code/assets/home/background-home-mobile.jpg" !default;
$home_background_image_tablet : "/starter-code/assets/home/background-home-tablet.jpg" !default;
$home_background_image_desktop : "/starter-code/assets/home/background-home-desktop.jpg" !default;
$primary_color: #FFFFFF !default;
$secondary_color: #D0D6F9 !default;
