
/* This block allows to chance variables value without rewriting code*/
// @use "home" with(
//     $home_background_image_mobile: ""
// );

@use "forward";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}